.nav-img{
    width: 300px;
    max-width: 50%;
  
}
.banner-title{
    color: #FA804C;
}
.banner-title2{
    columns: #363958;
}
.bg-header{
    background-color: #FFF9F4;
}
/* .shoes img{
    width: 311px;
   max-width: 100%;
   min-width: 50%;
} */
